:root{
    --main-bg-color: rgb(199, 156, 106);
    --text: whitesmoke;
    --col1:rgb(25, 113, 134);
    --col2:rgb(18, 76, 90);
    --colblack: black;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
  background: url(sources/Grupo-3044-scaled.jpg);
  background-size: cover;
}



#WelcomeText{
    gap: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    background: url(sources/cerca-veterinario-cuidando-perro.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text);
    text-shadow: 0 0 10px var(--col1);
    margin: 1%;
    border-radius: 20px;
}

#WelcomeText p{
  width: 20%;
  position: absolute;
  left: 5%;
  top: 20%;
}


h1{
    padding-top: 50px;
}

header{
    top: 0;
    position: sticky;
    margin: 4px;
}

ul {
  border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--col1);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: var(--col2);
    color: var(--text);
    box-shadow: 5px 5px black;
}

p{
    padding-top: 20px;
    padding-left: 20px;
}

#firsText{
  background-color: rgba(220, 245, 241, 0.595);
  margin: 1%;
  border-radius: 20px;
}



#firsText h2{
  color: var(--colblack);
  padding: 2%;
  text-decoration: 3px underline var(--col2);
}



#firsText img{
  height: 300px;
  width: 300px;
  filter: drop-shadow( 0 0 20px);
  padding-left: 200px;
  padding-bottom: ;
}

