:root{
    --col1: #CCDBDC ;
    --col2: #9AD1D4 ;
    --col3: #80CED7 ;
    --col4: #007EA7 ;
    --col5: #003249 ;
    --col6: #34a3c8 ;
    --white: #fff;
    --black: #000;
    --grey: rgb(128, 128, 128);
}


html{
    font-size: 16px;
}

*{
    font-size: 1rem;
    transition: .2s linear;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--col5);
    height: 10vh;
    width: 100vw;
}

.header-logo{
    height: 100%;
    padding-left: 20px;
}

.boton-salir{
    float: right;
    height: 80%;
    width: 80px;
    margin-right: 5%;
    border-radius: 10px;
    background-color: var(--col4);
}

.boton-salir img{
    height: 65%;
    width: 70%;
}


.main-titulo{
    font-size: 3rem;
    color: var(--col1);
    text-shadow: 0 0 10px;
}


main{
    height: 90%;
    width: 100%;
    display: flex;
}


.aside-usuario{
    background-color: var(--col3);
    width: 30%;
    align-content: center;
}

.main-calendario{
    background-color: var(--col2);
    width: 70%;
}

.aside-usuario__item{
    margin: 0 auto;
    height: 550px;
    width: 80%;
    background-color: var(--col4);
    border-radius: 20px;
    box-shadow: 0 0 20px var(--col6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--white);
}

.aside-usuario__item img{
    right: 90px;
    width: 40%;
    border-radius: 50%;
}

.aside-usuario__item button{
    background-color: var(--col2);
    width: 80%;
    height: 7%;
    border-radius: 20px;
}

.aside-usuario__item button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.main-calendario{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    background-color: var(--col6);
}

.calendario__titulo h2{
    margin-top: 10px;
    font-size: 3rem;
    text-shadow: 0 0 10px var(--white);
}

.calendario{
    background-color: var(--col6);
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 110px);
    padding-left: 20px;
}

.calendario h6{
    height: 1px;
}

.calendario__dia{
    height: 90%;
    background-color: #003249;
    width: 85%;
    list-style-position: inside;
}


.calendario__dia button{
    margin:auto;
    background-color: var(--col2);
    width: 80%;
    border-radius: 20px;
}

.calendario__dia button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

